body {
	font-size: 18px;
	background-color: #646e70;
	color: #000000;
	font-family: Book Antiqua, Palatino,serif;
}

h1 {
	font-family: Palatino Linotype, serif;
	font-size: 46px;
	font-weight: bold;
	color: #3f4030;
	text-align: center;
}

.dropdown-menu{
	background-color: #8c9a9c;
	font-size: 16px;
}

.pagination{
	display: flex;
	justify-content: center;
}

.page-item.active .page-link{
	background-color: #646e70;
	border-style: none;
}

.page-link{
	background-color: #b3c0c5;
	color: rgb(58, 99, 83);
	margin-left: 1rem;
	border-style: none;
	border-radius: 1rem;
}

.post_title{
    font-size: 36px;
    text-decoration: none;
    display: block;
	color: #1f1f36;
}

.post_title:hover{
    font-size: 36px;
    text-decoration: none;
    display: block;
	color: #3f3f68;
}

.dash-link{
    font-size: 22px;
    text-decoration: none;
    display: block;
    color: #1f1f36;
    overflow: hidden;
}

.dash-link:hover{
    font-size: 22px;
    text-decoration: none;
    display: block;
	color: #3f3f68;
}

#comment{
	color: black;
	background-color: #829296;
}

.comments{
	margin: 10px;
}

.list-group-item{
	margin:2px;
	background-color: #829296;
}